<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile> <a routerLink="../NewQuestionnaire"> Add New Questionnaire  </a> <i class="fa fa-plus"></i> </mat-grid-tile>
    <mat-grid-tile> <a routerLink="../ViewQuestionnaire"> View All Questionnaire </a> </mat-grid-tile>
    <mat-grid-tile> <a routerLink="../Questionnairetemplate"> New From Questionnaire Template </a> </mat-grid-tile>
    <mat-grid-tile> <a routerLink="../View"> View Questionnaire Response</a></mat-grid-tile>
    <mat-grid-tile> <a routerLink="../analysis">  Analysis </a> </mat-grid-tile>
    <mat-grid-tile> <a routerLink="../Sendquestionnaire">  Send a questionnaire </a> </mat-grid-tile>

</mat-grid-list>

