<table class="table" *ngIf="questionnaires">
    <caption>List of Questionnaires</caption>
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Date Created</th>
    </tr>
  </thead>
  <tbody  *ngFor="let questionnaire of questionnaires; let i=index;">
    <tr>
      <th scope="row">{{i+1}}</th>
      <td>{{questionnaire.name}}</td>
      <td>{{questionnaire.description}}</td>
      <td>{{questionnaire.date}}</td>
      <td> <button name="edit" class="btn btn-primary" (click)="editQuestionnaire(questionnaire)">Edit</button> </td>
      <td> <button name="delete" class="btn btn-primary" (click)="deleteQuestionnaire(questionnaire)">Delete</button></td>
    </tr>
  </tbody>
</table>



  